huggingface_hub
mistralai
tqdm
google-genai
PyPDF2
fastapi
uvicorn
passlib[bcrypt]
pydantic[email]
python-multipart
Pillow
opencv-python
numpy
sqlmodel
databases[sqlite]
bcrypt
python-jose[cryptography]
pydantic-settings
pydantic
psycopg2-binary